# Python
__pycache__/
*.py[cod]
*$py.class

# Django
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Environment / Segredos
.env

# Logs
*.log

# Scratch / arquivos temporarios de teste
scratch/
